plots/
*.root
error
output
log
*.pt
wandb/
lightning_logs/
test/
test_data/
csv*/
plot*/
root_output*/
*.pdf
*.png
.snakemake/
.law/
htcondor_log*/
.snakemake/
old_log/
*.csv
*.cc
*.so
*.pcm
*_rdict.pcm
*.d